<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
        <add name="connStr" connectionString="server=(local);uid=sa;pwd=123456;database=电子族谱管理系统;Connect Timeout=10;" />
  </connectionStrings>
</configuration>